<div id="cookie-consent" style="display: none;">
  <div class="grid-x">
    <div class="cell small-12 medium-7 large-8">
      <h3>Cookies are delicious!</h3>
      <p id="cookie-consent-text" class="text-gray">This website collects cookies to analyze traffic so that I can
        improve the website. You can opt out of these cookies if you would like. See our <a href="/cookie-policy">cookie policy</a>.</p>
    </div>
    <div class="cell auto"></div>
    <div class="cell small-12 medium-5 large-3">
      <div class="grid-y">
        <div class="cell auto"></div>
        <div class="cell small-1 medium-6">
          <div class="grid-x grid-margin-x">
            <div class="cell small-6 shrink">
              <button id="cookie-deny-button" class="button-white">Deny Cookies</button>
            </div>
            <div class="cell small-6 shrink">
              <button id="cookie-accept-button" class="button-black">Accept Cookies</button>
            </div>
          </div>
        </div>
        <div class="cell small-11 medium-auto">
          <div class="show-for-small-only"></div> <!--Just here to fix bottom padding on small devices-->
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/cookieConsent.js"></script>