<div id="cookie-consent">
  <div class="grid-x">
    <div class="cell small-12 medium-8 large-8">
      <h3>Cookies are delicious!</h3>
      <p id="cookie-consent-text" class="text-gray">This website collects cookies to analyze traffic so that I can improve the website. You can opt out of these cookies if you would like. See our <a>cookie policy</a>.</p>
    </div>
    <div class="cell auto"></div>
    <div class="cell small-12 medium-3 large-3">
      <div class="grid-y">
        <div class="cell auto"></div>
        <div class="cell small-6">
          <div class="grid-x">
            <div class="cell small-5">
              <button class="button-white">Deny Cookies</button>
            </div>
            <div class="cell small-5">
              <button class="button-black">Accept Cookies</button>
            </div>
            <div class="cell auto"></div>
          </div>
        </div>
        <div class="cell auto"></div>
      </div>
    </div>
  </div>
</div>