@mixin manrope-font {
  font-family: 'Manrope', sans-serif;
}

//Short hand mixins for theme colors used for elements commonly
@mixin text-color {
  transition: color $theme-transition-time ease;

  @include themed() {
    color: t('text-body');
  }
}

@mixin hc-color-text {
  transition: color $theme-transition-time ease;

  @include themed() {
    color: t('hc-color');
  }
}

@mixin mc-color-text {
  transition: color $theme-transition-time ease;

  @include themed() {
    color: t('mc-color');
  }
}

@mixin lc-color-text {
  transition: color $theme-transition-time ease;

  @include themed() {
    color: t('lc-color');
  }
}

@mixin background-color {
  transition: background-color $theme-transition-time ease;

  @include themed() {
    background-color: t('background');
  }
}

@mixin hc-background {
  @include themed() {
    background-color: t('hc-color');
  }
}

@mixin hc-border-1px {
  @include themed() {
    border: 1px solid t('hc-color');
  }
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-horiz {
  display: block;
  margin: 0 auto;
}

@mixin invert-hover {
  text-decoration: none;
  transition: $hover-transition-time;

  @include hc-color-text;

  &:hover {
    text-decoration: none;

    @include themed() {
      background-color: t('hc-color');
      color: t('background')
    }
  }
}

@mixin underline-hover-anchor {
  a {
    transition: text-decoration $hover-transition-time ease;
    text-decoration: none;

    @include hc-color-text;

    &:hover {
      @include themed() {
        text-decoration: underline solid t('hc-color');
        -webkit-text-decoration: underline solid t('hc-color');
      }

      @include hc-color-text;
    }
  }
}