$white: #ffffff;
$black: #000000;
$light-gray: #9c9c9c;

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-horiz {
  display: block;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
}

header {
  z-index: 1000;
  background-color: $white;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid $light-gray;
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }
  .cell {
    margin-left: 15px;
    margin-right: 15px;
    .links-container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a {
        margin-left: 5px;
        padding-left: 3px;
        padding-right: 3px;
        &:hover {
          color: $white;
          background-color: $black;
          text-decoration: none;
          border-radius: 3px;
        }
      }
    }
  }
}

footer {
    margin-top: 5px;
    position: relative;
    height: 50px;
    text-align: center;
    hr {
      width: 60%;
    }
}

main {
  min-height: 100%;
}

#footer-text {
  color: $light-gray;
  a {
    color: $light-gray;
    text-decoration: underline;
  }
}

#main-wrapper {
  width: 60%;
  @include center-horiz
}

#home-title {
  background-color: $black;
  color: $white;
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  #center-wrapper {
    width: 100%;
    h1 {
      font-size: 45pt;
    }
    h5 {
      margin-top: 5px;
    }
  }
}

.home-section {
  margin-top: 10px;
}

.center {
  @include centerer;
}
