@charset 'UTF-8';
@import 'themes';
@import 'default-code';
@import 'dark-code';
@import 'mixins';

$light-gray: #9c9c9c;
$dark-gray: #505050;
$text-gray: #474747;
$content-wrapper-width: 60%;
$hover-transition-time: .3s;
$theme-transition-time: .24s;
$card-button-width: 70%;

html,
body {
  @include background-color;

  min-height: 100vh;
  height: 100%;

  margin: 0;
  padding: 0;

  &.is-reveal-open {
    overflow: unset !important;

    #page-wrapper {
      overflow-y: auto;
    }
  }
}

header {
  z-index: 1000;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  position: fixed;

  @include background-color;
  @include hc-color-text;

  @include themed() {
    border-bottom: 1px solid t('lc-color');
  }

  h3 {
    @include underline-hover-anchor;
  }

  #main-title {
    @include manrope-font;

    @include themed() {
      color: t('hc-color');
    }
  }

  .cell {
    margin-left: 15px;
    margin-right: 15px;
    @include manrope-font;

    .links-container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        img {
          height: 22px;
        }

        &:hover {
          @include themed() {
            filter: invert(30%) sepia(8%) saturate(0%) hue-rotate(222deg) brightness(102%) contrast(99%);
            -webkit-filter: invert(30%) sepia(8%) saturate(0%) hue-rotate(222deg) brightness(102%) contrast(99%);
          }
        }
      }

      a {
        margin-left: 8px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 3px;
        @include invert-hover;
      }
    }
  }
}

hr {
  max-width: unset;
}

footer {
  min-height: 50px;
  text-align: center;
  padding: 0;
  margin: 0;

  hr {
    width: $content-wrapper-width;
  }

  #footer-text {
    @include lc-color-text;
    @include background-color;
    margin-bottom: 0;
    padding-bottom: 2em;

    a {
      @include lc-color-text;
      text-decoration: underline;
    }
  }
}

main {
  min-height: 100%;
  @include background-color;

  h3,
  h2 {
    @include hc-color-text;
  }
}

table,
thead {

  @include text-color;

  tr:nth-child(odd) {
    @include themed() {
      background-color: t('odd-row');
    }
  }

  tr:nth-child(even) {
    @include themed() {
      background-color: t('even-row');
    }
  }
}

thead>tr {
  @include themed() {
    background-color: t('th-background') !important;
  }
}

#main-wrapper {
  @include center-horiz;

  width: $content-wrapper-width;
}

#home-title {
  background-color: black;
  color: white;
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  #center-wrapper {
    width: 100%;

    h1 {
      @include manrope-font;
      font-size: 45pt;
    }

    h5 {
      @include manrope-font;
      margin-top: 5px;
    }
  }
}

#page-wrapper {
  @include background-color;

  margin: 0;
  padding: 0;
  border-width: 0;
}

#header-padding {
  height: 51px;
}

#project-title {
  padding-top: 20px;

  * {
    @include manrope-font;
  }

  h6 {
    @include mc-color-text;
  }
}

#project-content {
  margin-top: 30px;
  @include text-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include manrope-font;
  }
}

#projects-header {
  margin-top: 15px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include manrope-font;
  }
}

#tag-filter-container {
  display: block;

  div {
    display: inline;

    .button-toggle {
      color: white;
      text-decoration: none;

      @include hc-border-1px();
      @include hc-background();

      @include themed() {
        color: t('background');
      }
    }

    a {
      margin-left: 3px;
      margin-right: 3px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 3px;
      padding-bottom: 3px;
      border-radius: 3px;

      @include hc-color-text;

      @include themed() {
        border: 1px solid t('background');
      }

      &:hover {
        @include hc-border-1px;
      }
    }
  }
}

#about-title-wrapper {
  padding-top: 20px;
}

#about-title {
  @include manrope-font;
  margin-top: 20px;
}

#about-arkin-image {
  border-radius: 25px;
  max-height: 600px;
}

#about-right {
  height: 100%;
}

#about-links {
  font-size: 12pt;
  line-height: 12pt;
  color: $text-gray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include underline-hover-anchor;
}

#cookie-consent {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 14px;
  padding-bottom: 0;

  @include themed() {
    border-top: 1px solid t('hc-color');
  }

  @include manrope-font;
  @include background-color;

  h3 {
    @include hc-color-text;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  p {
    font-size: 10pt;
  }

  .grid-y {
    height: 100%;
    position: relative;

    .show-for-small-only {
      display: block;
      height: 12px;
    }

    button {
      height: 50px;
      display: block;
      cursor: pointer;
      text-align: center;

      border-radius: 5px;
      padding: 4px;
      padding-left: 8px;

      font-size: 13pt;

      @include hc-border-1px;
    }

    .button-left {
      @include background-color;
      @include hc-color-text;

      margin-left: auto;

      &:hover {
        @include themed() {
          border: 1px solid t('mc-color')
        }

        @include mc-color-text;
      }
    }

    .button-right {
      @include hc-background;

      @include themed() {
        color: t('background')
      }

      @media only screen and (max-width: 640px) {
        margin-right: auto;
      }

      &:hover {
        @include lc-color-text;
      }
    }
  }

  #cookie-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4em;
  }
}

#cookie-consent-text {
  padding-right: 3px;
}

.all-button-wrapper {
  margin-top: 30px;
}

.all-button {
  padding: 4px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  text-align: center;
  width: 18%;
  min-width: 130px;
  max-width: 170px;

  @include invert-hover;
  @include center-horiz;
  @include hc-border-1px;
}

.rel {
  position: relative;
}

.project-image {
  @include center-horiz;
  margin-bottom: 10px;
}

.text-color {
  @include text-color;
}

.project-card {
  border-radius: 5px;
  padding: 0;
  margin: 10px;
  height: 95%;

  @include hc-border-1px;

  img,
  h5 {
    @include manrope-font;
    @include hc-color-text;
    width: 100%;
    display: block;
  }

  img {
    padding: 8px;
    border-radius: 4px;
    height: 200px;
    object-fit: contain;
  }

  h5,
  p {
    padding-left: 5px;
  }

  p {
    @include mc-color-text;
    font-size: 10pt;
  }

  .anchor-wrapper {
    margin: 0;
    margin-bottom: 10px;
  }

  a {
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    text-align: center;
    width: $card-button-width;
    min-width: 160px;
    max-width: 180px;
    @include center-horiz;
    @include invert-hover;
    @include hc-border-1px;
  }
}

.home-section {
  margin-top: 10px;

  h3 {
    @include manrope-font;
  }
}

.highlight {
  border: 1px solid $light-gray;
  border-radius: 5px;

  * {
    @include hc-border-1px;
    @include hc-background;
  }
}

.modal-container {
  margin: 20px;
}

.center-horiz-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  @include centerer;
}

.cookie-heading {
  @include hc-color-text;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.reveal {
  @include background-color;

  width: 80vw;
  height: auto;

  @include themed () {
    border: 1px solid t('lc-color');
  }

  span {
    background-color: transparent !important;
  }
}