<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}

  <body class="theme--default notransition">
    <script src="/assets/js/themeHandler.js" charset="utf-8"></script>
    <div id="global-wrapper" class="colored-background">
      {% include header.html %}
      <div id="page-wrapper" class="colored-background">
        {{ content }}
        {% include footer.html %}
      </div>
      {% include cookie-consent.html %}
    </div>
  </body>
  <script type="text/javascript">
    $(document).foundation();
  </script>

</html>