---
layout: main
---
{% assign project = site.data.projects | where: "id", page.id | first %}
{% assign img-width = 100 %}
{% if page.force-width %}
  {% assign img-width = page.force-width %}
{% endif %}
<div id="main-wrapper">
  <main>
    <div id="project-title">
      <h2>{{ page.title }}</h2>
      <h6>{{ project.short-desc }}</h6>
    </div>
    <hr>
    {% assign img-alt = project.name %}
    {% assign img-path = project.image-path %}
    {% if page.override %}
      {% assign img-path = page.override %}
    {% endif %}

    {% if page.override-dark %}
      <div class="default-only">
        {% include project-image.html %}
      </div>
      {% assign img-path = page.override-dark %}
      <div class="dark-only">
        {% include project-image.html %}
      </div>
    {% else %}
      {% include project-image.html %}
    {% endif %}
    <div id="project-content">
      {{ content }}
    </div>
  </main>
</div>